<br>
<br>
<br>
<div class="container">
  <table class="table ">
  <thead>
    <tr >
      <th scope="col">#SL</th>
      <th scope="col">Name</th>
      <th scope="col">Club</th>
      <th scope="col">ID</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>


      <% players.forEach((player, pIndex)=> { %>
        <tr>
        <td><%- pIndex+1 %></td>
        <td><%- player.name %></td>
        <td><%- player.club %></td>
        <td><%- player.id %></td>
          <td>
            <a href="/api/players/update/<%- player.id %>" class="btn btn-primary d-inline"> Edit </a>
            <form action="/api/players/delete/<%- player.id %>?_method=DELETE" class="d-inline" method="post">
              <input type="submit" value="Delete" class="btn btn-danger" >
            </form>
          </td>


      </tr>

      <% }) %>
  </tbody>
</table>
</div>
